<?xml version="1.0"?>
<launch>

 
  <!-- Launch the racecar model -->
  <include file="$(find ros_2dnav)/launch/racecar_model.launch"/>


  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="ros_2dnav" name="ros_2dnav" type="simulator" output="screen">
    <rosparam command="load" file="$(find ros_2dnav)/params.yaml"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="ros_2dnav" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find ros_2dnav)/params.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="ros_2dnav" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find ros_2dnav)/params.yaml"/>
  </node>
 
 <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ros_2dnav)/launch/simulator.rviz" output="screen"/>
 
 </node>

</launch> 
